<div class="page-header"><h1><%= @beverage.name %></h1><div class="page-header">

<form class="form-horizontal" role="form">
	
	<div class="form-group">
		<label class="col-sm-2 control-label">Name</label>
		<div class="col-sm-10">
			<input value="<%= @beverage.name %>" name="name" type="text" class="form-control" disabled/>
		</div>
	</div>
	
	<div class="form-group">
		<label class="col-sm-2 control-label">Price</label>
		<div class="col-sm-10">
			<div class="input-group">
				<input value="<%= @beverage.price_humanized %>" name="price" type="text" class="form-control" disabled/>
				<span class="input-group-addon">&euro;</span>
			</div>
		</div>
	</div>
	
	<div class="form-group">
		<label class="col-sm-2 control-label">Available</label>
		<div class="col-sm-10">
			<input name="name" type="checkbox" <% if @beverage.available %>checked="checked"<% end %> disabled/>
		</div>
	</div>
	
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<%= link_to 'Edit', edit_beverage_path(@beverage), class: "btn btn-primary" %>
		</div>
	</div>
	
</form>

<hr>

<%= link_to 'Back', beverages_path, class: "btn btn-default" %>
