<h1>Summary</h1>

<div id="summary_table_contents">
  <%= render "summary_table_contents" %>
</div>

<script>	
$(document).ready(function(){
    	setInterval(updateDashboard, 3000);
});

function updatePartial(name) {
	var query = window.location.search.slice(1);
	url = "<%= url_for :controller => "dashboard", :action => "render_partial" %>";
	$.get(url + "?partial_name=" + name + "&" + query, function(data) {
		$("#" + name).html(data["html"]);
	});
}

function updateDashboard() {
	updatePartial("summary_table_contents")
}
</script>

<br>

<%= link_to 'New consumer', new_consumer_path %> | 
<%= link_to 'New tallysheet entry', new_tallysheet_entry_path %> | 
<%= link_to "Many new tallysheet entries", controller: "tallysheet_entries", action: "new_many" %>
