<% content_for :jumbotron, render("carousel") %>

<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th><%= sortable "name", "Consumer" %></th>
			<th><%= sortable_numeric "amount_of_beverages", "Beverages" %></th>
			<th><%= sortable_numeric "amount_of_paid_beverages", "Paid" %></th>
			<th><%= sortable_numeric "debt", "Debt" %></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
	<% num_hidden = 0 %>
	<% @consumers.each do |consumer| %>
		<tr <% if !consumer.visible %>class="collapse warning hidden-customer"<% end %>>
			<td><%= consumer.name %></td>
			<td><%= consumer.amount_of_beverages %></td>
			<td><%= consumer.amount_of_paid_beverages %></td>
			<td><%= style_debt consumer.debt %></td>
			<td> <%= link_to 'Show', consumer_path(consumer), class: "btn btn-default btn-xs" %>
			<% if authenticated? %>
			<%= link_to 'Pay', consumer_pay_path(consumer), class: "btn btn-success btn-xs" %>
			<% if consumer.debt > 5.00 %>
			<%= link_to 'Remind', consumer_mail_debt_reminder_path(consumer), data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xs" %>
			<% end %>
			<% end %>
			</td>
		</tr>
		<% if !consumer.visible %>
			<% num_hidden += 1 %>
		<% end %>
	<% end %>
	<% if num_hidden > 0 %>
		<tr>
			<td colspan="5"><a href="#" onclick="$('.hidden-customer').collapse('toggle'); return false;" class="text-muted">
				<%= num_hidden %> hidden ...
			</a></td>
		</tr>
	<% end %>
	</tbody>
	<tfoot>
		<th>Summary</th>
		<th><%= total_amount_of_beverages %></th>
		<th><%= total_amount_of_paid_beverages %></th>
		<th><%= style_debt total_debt %></th>
		<th></th>
	</tfoot>
</table>
