<h1>Summary</h1>

<div id="summary_table">
	<%= render "summary_table" %>	
</div>

<script>	
$(document).ready(function(){
    	setInterval(updateDashboard, 3000);
});

function updatePartial(name) {
	url = "<%= url_for :controller => "dashboard", :action => "render_partial" %>";
	$.get(url + "?partial_name=" + name, function(data) {
		$("#" + name).html(data["html"]);
	});
}

function updateDashboard() {
	updatePartial("background_processes")
	updatePartial("system_log")
	updatePartial("environment_log")
	updatePartial("moon")
	updatePartial("run")
	updatePartial("bias_voltage")
	updatePartial("actions")
	updatePartial("camera")
}
</script>

<br>

<%= link_to 'New consumer', new_consumer_path %> | 
<%= link_to 'New tallysheet entry', new_tallysheet_entry_path %> | 
<%= link_to "Many new tallysheet entries", controller: "tallysheet_entries", action: "new_many" %>
