<div class="page-header">
	<h1><%= @consumer.name %> <small>History</small></h1>
</div>

<p class="text-muted"><%= page_entries_info @tallysheet_entries %></p>

<table class="table table-striped table-hover">
	<thead>
		<th>Date</th>
		<th>Name</th>
		<th>Amount</th>
		<th>Price</th>
	</thead>
	<% @tallysheet_entries.each do |e| %>
	<tr>
		<td><%= e.created_at.to_formatted_s(:short) %></td>
		<td><%= e.beverage.name %></td>
		<td><%= e.amount %></td>
		<td><%= "%.2f" % e.price %> &euro;</td>
	</tr>
	<% end %>
</table>

<%= will_paginate @tallysheet_entries, :renderer => BootstrapPagination::Rails %>

<hr>

<%= link_to 'Back', consumer_path(@consumer), class: "btn btn-default" %>