<div class="page-header"><h1>Listing consumers</h1></div>

<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th>Name</th>
			<th>Email</th>
			<th>Visible</th>
			<th>Credit</th>
			<th></th>
		</tr>
	</thead>

	<tbody>
		<% @consumers.each do |consumer| %>
		<tr>
			<td><%= consumer.name %></td>
			<td><%= consumer.email %></td>
        	<td><span class="glyphicon glyphicon-<%= consumer.visible ? 'ok' : 'remove' %>" aria-hidden="true"></span></td>
			<td><%= style_credit consumer.credit %></td>
			<td><%= link_to 'Show', consumer, class: "btn btn-default btn-xs" %>
			<%= link_to 'Pay', consumer_pay_path(consumer), class: "btn btn-success btn-xs" %>
			<%= link_to 'Edit', edit_consumer_path(consumer), class: "btn btn-primary btn-xs" %>
			<%= link_to 'Destroy', consumer, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xs", disabled: !consumer.destroyable? %></td>
		</tr>
		<% end %>
	</tbody>
</table>

<hr>

<%= link_to 'Back', root_path, class: "btn btn-default" %>
<%= link_to 'Mail to all consumers', {controller: "dashboard", action: "mail"}, class: "btn btn-default" %>
<%= link_to 'New Consumer', new_consumer_path, class: "btn btn-primary" %>
