<h1>Pay dept of <%= @consumer.name %></h1>

<p>Your current is the sum of your consumed beverages minus your credit. Overpay will be rewarded as credit.</p>

<%= form_tag(consumer_pay_path(@consumer)) do %>

  <div class="field">
    <%= label_tag :amount %><br>
    <%= text_field_tag :amount %> €<br>
    (current debt: <%= style_debt @consumer.debt %>)
  </div>
  <div class="actions">
    <%= submit_tag 'Pay' %>
  </div>
  
<% end %>

<%= link_to 'Back', root_path %>
