<div class="page-header">
	<h1><%= @consumer.name %></h1>
</div>

<p class="text-muted">
<% @quota.sort_by {|k, v| v}.reverse.each do |beverage, share| %>
	<% if share > 0 %>
		<span style="white-space:nowrap;"><%= beverage.name %> <span class="badge"><%= share >= 0.01 ? (share * 100).round : "< 1" %> %</span></span>
	<% end %>
<% end %>
</p>

<hr/>

<form class="form-horizontal" role="form">
	<div class="form-group">
		<label class="col-sm-2 control-label">Name</label>
		<div class="col-sm-10">
			<input value="<%= @consumer.name %>" name="name" type="text" class="form-control" disabled/>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label">E-Mail</label>
		<div class="col-sm-10">
			<input value="<%= @consumer.email %>" name="name" type="text" class="form-control" disabled/>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label">Visible</label>
		<div class="col-sm-10">
			<input name="name" type="checkbox" <% if @consumer.visible %>checked="checked"<% end %> disabled/>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label">Credit</label>
		<div class="col-sm-10">
			<div class="input-group">
				<input value="<%= @consumer.credit_humanized %>" name="saldo" type="text" class="form-control" disabled/>
				<span class="input-group-addon">&euro;</span>
			</div>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label">Debt</label>
		<div class="col-sm-10">
			<div class="input-group">
				<input value="<%= @consumer.debt_humanized %>" name="saldo" type="text" class="form-control" disabled/>
				<span class="input-group-addon">&euro;</span>
			</div>
			(Unpaid beverages minus credit.)
		</div>
	</div>
	<% if @consumer.amount_of_beverages > 0 %>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<table class="table table-striped table-hover">
				<tr>
					<th>Date</th>
					<th>Name</th>
					<th>Amount</th>
					<th>Price</th>
				</tr>
				<% @consumer.tallysheet_entries.each do |e| %>
				<% if !e.payed %>
				<tr>
					<td><%= e.created_at.to_formatted_s(:short) %></td>
					<td><%= e.beverage.name %></td>
					<td><%= e.amount %></td>
					<td><%= "%.2f" % e.price %> &euro;</td>
				</tr>
				<% end %>
				<% end %>
				<tfoot>
					<td colspan="3" style="text-align: right">Sum:</td>
					<th ><%= "%.2f" % (@consumer.debt + @consumer.credit) %> &euro;</th>
				</tfoot>
			</table>
		</div>
	</div>
	<% end %>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<% if authenticated? %>
			<%= link_to 'Edit', edit_consumer_path(@consumer), class: "btn btn-primary" %>
			<%= link_to 'Pay', consumer_pay_path(@consumer), class: "btn btn-success" %>
			<%= link_to 'Transfer', consumer_transfer_path(@consumer), class: "btn btn-success" %>
			<%= link_to 'Mail', consumer_mail_path(@consumer), class: "btn btn-default" %>
			<% end %>
			<%= link_to 'History', consumer_history_path(@consumer), class: "btn btn-default" %>
			<%= link_to 'Payments', consumer_payments_path(@consumer), class: "btn btn-default" %>
		</div>
	</div>
</form>

<hr>

<%= link_to 'Back', root_path, class: "btn btn-default" %>
