<!DOCTYPE html>
<html>
  <head>
    <title>Tallysheet</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="page">
      <div id="sidebar">
        <ul id="sidebar-items">
          <li>
            <h3>Navigation</h3>
            <ul class="links">
              <li><%= link_to "Home", controller: "dashboard", action: "index" %></li>
              <li><%= link_to "All consumers", controller: "consumers", action: "index" %></li>
              <li><%= link_to "All beverages", controller: "beverages", action: "index" %></li>
              <li><%= link_to "Admin", controller: "dashboard", action: "admin" %></li>
            </ul>
          </li>
        </ul>
      </div>

      <div id="content">
        <div id="header">
          <h1>The tallysheet</h1>
          <h2>
          	<% if DateTime.now.to_date.friday? %>
          		Welcome aboard today!
          	<% else %>
          		Come aboard next friday!
          	<% end %>
          	</h2>
        </div>
        <div id="yield">
		  <% flash.each do |name, msg| -%>
		  <div id="notice">
      		<%= content_tag :div, msg, class: name %>
		  </div>
    	  <% end %>
          <%= yield %>
        </div>
      </div>

      <div id="footer">
      	<a href="http://www.rubyonrails.org" target="_blank">Running ruby on rails 4.0.0</a><br>
      	<a href="http://www.famfamfam.com/lab/icons/silk/" target="_blank">Famfamfam silk icons</a><br>
      	<span><%= rendering_time %></span>
      </div>
    </div>
  </body>
</html>

